/* CSS Document */


BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px; 
}
HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px;
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE ,form{
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
STRONG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}






/**************************************************************************/

body
{
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	PADDING-TOP: 0px;
	font-size:12px;
}

div ,ul,li,ol,li ,img ,span ,font ,a{
	BORDER-TOP-WIDTH: 0px; 
	BORDER-LEFT-WIDTH: 0px; 
	BORDER-BOTTOM-WIDTH: 0px; 
	BORDER-RIGHT-WIDTH: 0px;
}
div ,ul,li,ol,li ,img ,span ,font ,a ,table ,tr ,td
{
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px; 
	
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
}

div{
	/*word-wrap:break-word;
	word-break:break-all;*/
	margin:0 auto;
}

.red{
	color:red;
}


/*a:link ,a:visited{
	color:white;
	text-decoration:none;
}
a:hover{color:red;}*/
/*#ff6600*/

/******************************************************/
.space5{height:2px; margin:0 auto}

.space10{height:10px; margin:0 auto}

.width920{ width:920px;}

.height280{ height:280px;}

.height225{height:225px;}

.right{text-align:right;}

.white{color:white;}

.pt5{ padding-top:5px;}

.pt10{ padding-top:10px;}

.pr10{ padding-right:10px;}

.pr20{padding-right:20px;}

.mt20{margin-top:20px;}

.mt15{margin-top:15px;}

.mt10{margin-top:10px;}

.mt5{margin-top:5px;}

.ml10{ margin-left:10px;}

.mr10{ margin-right:10px;}

.pl10{ padding-left:10px;}

.pb20{ padding-bottom:20px;}

.pb10{ padding-bottom:10px;}

.tbottom{vertical-align:bottom;}

.ttop , .ttop td{ vertical-align:top;}

.tcenter ,.tcenter td{text-align:center;}

.tright ,.tright td{ text-align:right;}

.tleft , .tleft td{ text-align:left;}

.tbold{ font-weight:bold;}

.tfont14{ font-size:14px;}
.tfont16{ font-size:16px;}
.tfont18{ font-size:18px;}

.bgWhite{background-color:white;}

.center{ margin:0 auto;}

.pointer{ cursor:pointer;}

.display-none{ display:none;}

.blank5{ height:5px; display:block;}
.blank10{ height:10px; display:block;}
.blank15{ height:15px; display:block;}

.float-l{ float:left;}
.float-r{ float:right;}

/*****************************************************************************/

.button-sub{background:url(../imagescommon/subb.gif) no-repeat; width:270px; height:37px; border:0px; color:white; font-size:14px; font-weight:bold;}


